# ignore build files
*.in
*/*.in
configure
autom4te.cache/
aclocal.m4
*.swp
depcomp
install-sh
missing
build*
config*
errors.txt
Makefile

# ignore compiled units
*.o
*.a
*.deps
*.Po

# ignore TEST files
TEST/
